In [1]:
import pandas as pd
from glob import glob

In [2]:
files = glob('data\\*.csv')
files

['data\\Garrett_button_log_2020-01-26.csv',
 'data\\Garrett_button_log_2020-01-27.csv',
 'data\\Garrett_button_log_2020-01-31.csv',
 'data\\Garrett_button_log_2020-02-01.csv',
 'data\\Jennifer_button_log_2020-02-02.csv',
 'data\\Jennifer_button_log_2020-02-02_v2.csv',
 'data\\Rafael_button_log_2020-02-02_v1.csv',
 'data\\Rafael_button_log_2020-02-02_v2.csv',
 'data\\Rafael_button_log_2020-02-02_v3.csv',
 'data\\Tawii_button_log_2020-02-03.csv',
 'data\\TheRandomRock03_button_log_2020-02-02.csv',
 'data\\TheRealGregorM_button_log_2020-02-01.csv']

In [3]:
df = pd.DataFrame(columns=['button_id','action','x','y','t','button_x','button_y','button_width','button_height', 'user'])
for f in files:
    this_df = pd.read_csv(f, header=None)
    this_df.columns = ['button_id','action','x','y','t','button_x','button_y','button_width','button_height']
    len1 = len(this_df)
    this_df.drop_duplicates(inplace=True)
    len2 = len(this_df)
    print('Duplicates in {}: {}'.format(f, len1-len2))
    user = f[5:f.index('_button_log')]
    this_df['user'] = user
    
    df = df.append(this_df, ignore_index=True)

Duplicates in data\Garrett_button_log_2020-01-26.csv: 0
Duplicates in data\Garrett_button_log_2020-01-27.csv: 0
Duplicates in data\Garrett_button_log_2020-01-31.csv: 0
Duplicates in data\Garrett_button_log_2020-02-01.csv: 0
Duplicates in data\Jennifer_button_log_2020-02-02.csv: 0
Duplicates in data\Jennifer_button_log_2020-02-02_v2.csv: 0
Duplicates in data\Rafael_button_log_2020-02-02_v1.csv: 0
Duplicates in data\Rafael_button_log_2020-02-02_v2.csv: 0
Duplicates in data\Rafael_button_log_2020-02-02_v3.csv: 0
Duplicates in data\Tawii_button_log_2020-02-03.csv: 0
Duplicates in data\TheRandomRock03_button_log_2020-02-02.csv: 0
Duplicates in data\TheRealGregorM_button_log_2020-02-01.csv: 0

In [4]:
len1 = len(df)
df.drop_duplicates(inplace=True)
len2 = len(df)

len2-len1

0

In [5]:
len2

3667069

In [6]:
df.head()

,button_id,action,x,y,t,button_x,button_y,button_width,button_height,user
0,1,MOVE,498,14,0.156879,158,406,21,39,Garrett
1,1,MOVE,498,15,0.158863,158,406,21,39,Garrett
2,1,MOVE,498,16,0.160863,158,406,21,39,Garrett
3,1,MOVE,497,18,0.164872,158,406,21,39,Garrett
4,1,MOVE,497,19,0.166865,158,406,21,39,Garrett

In [7]:
button_start_df = df.sort_values(by='t').groupby(['button_x',
                                                  'button_y',
                                                  'button_width',
                                                  'button_height']).first().reset_index()
button_start_df.columns = ['start_' + c for c in button_start_df.columns.values]
button_start_df

,start_button_x,start_button_y,start_button_width,start_button_height,start_button_id,start_action,start_x,start_y,start_t,start_user
0,17,55,17,84,23,MOVE,559,220,0.046885,Rafael
1,17,393,17,66,6,MOVE,560,70,0.052810,Rafael
2,18,212,18,98,49,MOVE,578,174,1.690392,Rafael
3,18,223,16,46,8,MOVE,150,273,0.015625,Jennifer
4,18,254,15,56,18,MOVE,938,197,0.151367,Jennifer
...,...,...,...,...,...,...,...,...,...,...
52148,982,140,17,52,16,MOVE,856,165,0.395601,TheRealGregorM
52149,982,413,17,40,21,MOVE,100,392,0.127152,Rafael
52150,983,300,15,82,43,MOVE,971,346,0.142450,Tawii
52151,984,185,16,46,9,MOVE,551,405,0.408203,Jennifer
52152,985,359,15,29,22,MOVE,707,438,0.250000,Jennifer

In [8]:
df = df.merge(button_start_df, 
              left_on=['button_x',
                       'button_y',
                       'button_width',
                       'button_height'], 
              right_on=['start_button_x',
                        'start_button_y',
                        'start_button_width',
                        'start_button_height']).drop(columns=['start_button_x',
                                                              'start_button_y',
                                                              'start_button_width',
                                                              'start_button_height',
                                                              'start_t',
                                                              'start_button_id',
                                                              'start_action'])
df

,button_id,action,x,y,t,button_x,button_y,button_width,button_height,user,start_x,start_y,start_user
0,1,MOVE,498,14,0.156879,158,406,21,39,Garrett,498,14,Garrett
1,1,MOVE,498,15,0.158863,158,406,21,39,Garrett,498,14,Garrett
2,1,MOVE,498,16,0.160863,158,406,21,39,Garrett,498,14,Garrett
3,1,MOVE,497,18,0.164872,158,406,21,39,Garrett,498,14,Garrett
4,1,MOVE,497,19,0.166865,158,406,21,39,Garrett,498,14,Garrett
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667064,50,MOVE,730,422,1.004204,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM
3667065,50,MOVE,731,423,1.011976,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM
3667066,50,MOVE,732,423,1.019008,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM
3667067,50,MOVE,733,423,1.026098,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM
3667068,50,CLICK,733,423,5281.684086,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM

In [9]:
buttons = df[['button_x',
              'button_y',
              'button_width',
              'button_height']].drop_duplicates().reset_index(drop=True).reset_index()
buttons

       index button_x button_y button_width button_height
0          0      158      406           21            39
1          1      121      341           67            98
2          2      256      456           89            38
3          3      551      431           28            16
4          4      345      158           57            65
...      ...      ...      ...          ...           ...
52148  52148      356       92           69            34
52149  52149      813      138           99            69
52150  52150      585       96           74            70
52151  52151      146      146           83            55
52152  52152      689      365           86            84

[52153 rows x 5 columns]

In [10]:
df.drop(columns='button_id', axis=1, inplace=True)  # button_id resets every time the GUI is run (50 buttons)
df.head()

,action,x,y,t,button_x,button_y,button_width,button_height,user,start_x,start_y,start_user
0,MOVE,498,14,0.156879,158,406,21,39,Garrett,498,14,Garrett
1,MOVE,498,15,0.158863,158,406,21,39,Garrett,498,14,Garrett
2,MOVE,498,16,0.160863,158,406,21,39,Garrett,498,14,Garrett
3,MOVE,497,18,0.164872,158,406,21,39,Garrett,498,14,Garrett
4,MOVE,497,19,0.166865,158,406,21,39,Garrett,498,14,Garrett

In [11]:
df = df.merge(buttons, on=['button_x',
                           'button_y',
                           'button_width',
                           'button_height'])
df

,action,x,y,t,button_x,button_y,button_width,button_height,user,start_x,start_y,start_user,index
0,MOVE,498,14,0.156879,158,406,21,39,Garrett,498,14,Garrett,0
1,MOVE,498,15,0.158863,158,406,21,39,Garrett,498,14,Garrett,0
2,MOVE,498,16,0.160863,158,406,21,39,Garrett,498,14,Garrett,0
3,MOVE,497,18,0.164872,158,406,21,39,Garrett,498,14,Garrett,0
4,MOVE,497,19,0.166865,158,406,21,39,Garrett,498,14,Garrett,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667064,MOVE,730,422,1.004204,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM,52152
3667065,MOVE,731,423,1.011976,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM,52152
3667066,MOVE,732,423,1.019008,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM,52152
3667067,MOVE,733,423,1.026098,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM,52152
3667068,CLICK,733,423,5281.684086,689,365,86,84,TheRealGregorM,238,174,TheRealGregorM,52152

In [12]:
df.to_csv('C:\\Users\\Garrett\\PycharmProjects\\MousePathGAN\\GAN\\combined.csv', index=False)

In [14]:
import gc

In [15]:
gc.collect()

40

In [26]:
path_dfs = [df[df['index']==i] for i in set(df['index'].values)]

In [27]:
len(path_dfs)

52153

In [28]:
import pylab

In [29]:
# plots the outline of the button based on its location and dimensions
#
def plot_button(button_x, button_y, button_width, button_height):
    top_x = list(range(button_x, button_x + button_width))
    top_y = [button_y]*button_width
    
    left_y = list(range(button_y, button_y + button_height))
    left_x = [button_x]*button_height
    
    right_y = list(range(button_y, button_y + button_height))
    right_x = [button_x + button_width]*button_height
    
    bottom_x = list(range(button_x, button_x + button_width))
    bottom_y = [button_y + button_height]*button_width
    
    # testing - combine and plot all edge points together
    #all_x = top_x + right_x + bottom_x + left_x
    #all_y = top_y + right_y + bottom_y + left_y
    #pylab.plot(all_x, all_y)
    
    pylab.plot(top_x, top_y)
    pylab.plot(bottom_x, bottom_y)
    pylab.plot(right_x, right_y)
    pylab.plot(left_x, left_y)

In [30]:
import os

In [47]:
img_dir = 'data\\imgs\\'
if not os.path.exists(img_dir):
    os.mkdir(img_dir)
    
count = 0


for i in range(len(path_dfs)):
    user = list(path_dfs[i]['user'].drop_duplicates())[0]
    #print(user)
    #print('..\\GAN\\data\\imgs\\path_{}_{}.jpg'.format(i, user))
    #break
    #print('Path', i)
    pylab.plot(path_dfs[i].x, path_dfs[i].y)
    
    # fix axes limits
    pylab.ylim([500,0])
    pylab.xlim([0,1000])
    
    pylab.axis('off')  # save img only the blue mouse path
    pylab.savefig('..\\GAN\\data\\imgs\\path_{}_{}.jpg'.format(i, user))  # save the image before plotting the button
    
    plot_button(path_dfs[i].button_x.iloc[0],
                path_dfs[i].button_y.iloc[0],
                path_dfs[i].button_width.iloc[0],
                path_dfs[i].button_height.iloc[0])
    
    pylab.axis('on')  # turn back on for visualization
    pylab.close()
    #pylab.show()
    count += 1
    
    if count % 1000 == 0:
        print(count)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000